---
layout: default
---

<div class="home">

  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="wrapper">
    <div class="home-col-wrapper">
        {% for proj in page.projects %}
        
          <div class="proj-section">
            <h1 class="proj-header">{{ proj.name }}</h1>
            <div class="home-col home-col-1">
              {{ proj.description }}
            </div>
            <div class="home-col home-col-2">
                <img src="{{ proj.image_link }}" alt="{{ proj.alt_text }}" >
            </div>
          </div>

        {% endfor %}
    </div>
  </div>

</div>